body{
    background: #bfdcf8;
}
.containerl-n-c{
    display: flex; /*colocar todo en una caja */
    align-items: center; /*Agrupa al centro */
    font-style: italic; /*poner en cursiva */
    font-weight:bold;/*especificar letra */
    font-size:16px;   /*dimension de la letra*/
}
p{
    font-size: 18px;
    text-align: justify;/*alinear justificado */
}
ol{
    font-size: 18px;/*dimension de la letra*/
    font-family: Arial, Helvetica, sans-serif; /*familias de fuentes*/
    color: #000000;
}
.social{
    margin-right: 3px;/*anchura del margen*/
    padding: 3px;/*espacio de relleno para todos los lados*/
    justify-content: space-between; /*distribucion de linea*/
    text-align: right;  /*alinear justificado*/
}
#menu{
    background: #ccd3db;
}
#menu ul{
    font-size: 25px;/*dimension de la letra*/
    margin: 0;/*anchura del margen*/
    justify-content: space-between;/*distribucion de linea*/
    align-items: center;/*Agrupa al centro */
    padding: 5px 15px;/*espacio de relleno para todos los lados*/
    font-family: Arial;  /*fuentes*/
}  
#menu ul li{
    display: inline-block;/*apilan horizontal */
}
#menu ul li a{
    display: block; /*se colocan horizontalmente*/
    padding: 0.5rem 1rem;

}
img.right{
    float: right;
    margin-left: 20px;
    margin-bottom: 20px;
    background: #ccd3db;
}
#content{
    font-family: Arial; 
    font-size:18px;
    text-align: justify;
    margin: 20px;
}     
#footer{
    font-size:16px;
    font-family: Arial; 
    align-items: center;
}
#footer-about{
    border: black 2px solid;
    float: left;
    width: 200px;
    height: 150px;
    margin: 10px;
    padding: 3px; /*espacios*/
}
#footer-briefcase{
    float: left;
    border: black 2px solid;
    width: 200px;
    height: 150px;
    padding: 1em 3em;
    margin: 1em 20%;
}
#footer-contact{
    border: black 2px solid;
    float: right;
    width: 200px;
    height: 150px;
    margin: 10px;
    padding: 3px;
}
/*
#Encuesta{
    border: black 2px solid;
    border-radius: 20px;
    padding : 2em;
    width: 430px;
    margin: 5%;
}
#Encuesta-e input[type="submit"]{
    background-color: black;
    color: white;
    border: 1px solid black;
    font-size: 18px
}
#Encuesta-f{
    border: black 2px solid;
    text-align: center;
    background: black;
}*/
#contact{
    margin: 2%;
    padding: 5 em;
    width: 20px;
    height: 10px;
}
#cont{
    width: 450px;
    background: rgba(0,0,0,0.4);
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 7px;
    margin: 40px;
}
#cont input,textarea{
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 18px;
    border: none;
}
#cont textarea{
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;
}
#boton{
    background: #31384A;
    color: white;
    padding: 20px;
}
#boton:hover{
    cursor: pointer;
}
#contact-d{
    float: right;
    padding: 1em 3em;
    margin: 1em 20%;
    background: #5e7184;
    color: white;
    border-radius: 7px;
}
.contenedor-form{
    position: relative;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background:rgba(0, 0, 0, .7);
    width: 100%;
    max-width: 500px;
    margin: 48px auto;
    border-radius: 5px;
    color: #fff;
}
.contenedor-form .toggle{
    position: absolute;
    top: 7px;
    right: 7px;
    width: 100px;
    height: 30px;
    font-size: 12px;
    line-height: 25px;
    text-align: center;
    border-top: 2px solid #30639b ;
    border-bottom: 2px solid #30639b;
    transition: all .5s ease;
    cursor: pointer;
}
.contenedor-form .toggle span{
    letter-spacing: 1px;
}
.contenedor-form .toggle:hover{
    border-top: 2px solid #989ca0 ;
    border-bottom: 2px solid #989ca0;   
}
.contenedor-form h2{
    margin: 0 0 28px 0;
    font-size: 20px;
}
.contenedor-form input[type="text"],
.contenedor-form input[type="password"],
.contenedor-form input[type="email"]{
    outline: none;
    background: rgba(0, 0, 0, .5);
    display: block;
    width: 100%;
    padding: 10px 0px;
    color: #fff;
    border: none;
    border-radius: 2px;
    border-bottom: 4px solid #30639b;
    font-family: Helvetica;
    font-size: 14px;
    font-weight: normal;
    margin: 0 0 20px 0;
    transition: all .5s ease;
}
.contenedor-form input[type="text"]:focus,
.contenedor-form input[type="password"]:focus,
.contenedor-form input[type="email"]:focus{
    border-bottom: 4px solid #989ca0;
}
.contenedor-form input[type="submit"]{
    background:  #30639b;
    color: #fff;
    border: none;
    width: 100%;
    padding: 2% 0;
    font-weight: normal;
    font-family: Helvetica;
    letter-spacing: 1px;
    font-size: 16x;
    cursor: pointer;
}
.contenedor-form input[type="submit"]:hover{
    background: #4acbf4;
}
.contenedor-form .reset-password{
    background:#4acbf4;
    width: 100%;
    padding: 15px 0;
    text-align: center;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
.contenedor-form .reset-password a{
    color: #fff;
    text-decoration: none;
    font-size: 14px;
}
.contenedor-form .formulario{
    padding: 20px;
    
}/*display: none;
.contenedor-form .formulario:nth-child(2){
    display: block;
}*/
